html,body{
	inset: 0 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Noto Color Emoji,system-ui;
	font-size: calc((1rem) + 0.5em);
	-webkit-font-smoothing: antialiased;
	background-color: rgba(24,23,24,1);
	/*background-image: url(header.jpg);*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
}
html,body,header,main,footer,aside,nav,div,span,::before,::after{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: inline-block;
}
p{font-size: 1rem}
form{
	padding: .375rem .75rem;
	background-color: rgba(23, 22, 26, 1.0);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
input,
button{
	font-size: calc((1rem) + 0.1em);
	color: white;
	background-color: rgba(43, 43, 46, 1.0);
	margin: .5em;
	border: none;
	padding: .75em 1,5em;
	border-radius: .25em;
	font-weight: 600;
}
#add-tld-watcher{
	background-color: mediumorchid;
}
.container{
	inset: 0 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap{
	flex-wrap: wrap;
}
.wrap-r {
	flex-wrap: wrap-reverse;
}
.margin0 {
	margin: 0;
}
.margin1{
	margin: 1em 0;
}
.margin2{
	margin: 2em 0;
}
.padding0125 {
	padding: .125em .25em;
}
.padding025 {
	padding: .25em .5em;
}
.padding0375 {
	padding: .375em .75em;
}
.padding05 {
	padding: .5em 1em;
}
.padding075 {
	padding: .75em 1.5em;
}
.--deeppink{color:deeppink;}
.--limegreen{color:limegreen;}
.--cyan{color:cyan;}
.--blueviolet{color:blueviolet;}
.--orange{color:orange;}
.--blue{color:blue;}
.--green{color:green;}
nav {
	position: sticky !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	font-size: calc((1rem));
	color: white;
	background-color: rgba(7, 14, 4, 1);
}
nav .wrapper {
	position: relative;
	margin: .375em .75em;
	padding: 0;
}
nav .wrapper.menu {
	position: relative;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(5, 20%);
	align-items: center;
	justify-content: center;
	min-width: 33vw;

}
nav .wrapper.menu .item {
	min-width: 80px;
}

nav #signin {
	background-color: dodgerblue;
}

header{
	background-color: rgb(38,38,38);
	background-color: rgba(38,38,38,1);
	color: white;
	background-image: url(header.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
		background-size: cover;
		max-width: 1480px;
		margin-left: auto;
		margin-right: auto;
}
/*@media only screen and (max-width: 1280px) {*/
	/*header{*/
	/*}*/
/*}*/
main{

}
#legenda{
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: 1fr;
	margin: 0 auto;
	width: min-content !important;
}
.ranking{
	position: relative;
	margin: .25em;
	padding: .25em;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 4px solid currentcolor;
	border-radius: .375em;
	/*max-width: 120px;*/
}

.beezkneez {
	color: rgba(50,205,50,1.0);
	background-color: rgba(50,205,50,0.5);
}
.kindahot {
	color: rgba(205,20,147,1.0);
	background-color: rgba(205,20,147,0.5);
}
.holaatya {
	color: rgba(0,0,255,1.0);
	background-color: rgba(0,0,255,0.5);
}


#slds{
	position: relative;	
	z-index: 1;
}
.warpper{}
.card{
	position: relative;
	margin: .5em 1em;
	width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.card::before{
	border-radius: .375em;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	content:  '';
	background-color: rgba(23,23,26,1);
	z-index: -1;

}
.card::after{
	border-radius: .375em;
	position: absolute;
	inset: -1%;
	width: 102%;
	height: 102%;
	content:  '';
	background: conic-gradient(deeppink,blue,purple,deeppink);
	z-index: -2;

}
.wrapper.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.wrapper.title > span {
	margin: 0;
	padding: 0 .375em;
}
.card .wrapper.title h5.title{
	margin: 0.1775em 0;
	padding: 0 .375em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: darkorange;
}
.card .subtext{
	position: relative;
	margin: 0.1775em 0;
	padding: 0 .375em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(23,23,26,1);
	color: orange;
	display: flex;
	line-height: 24px;
}

.subtext .watchers {
	border-radius: .1775em;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 .125em;
	margin: 0 .125em;
	color: cornflowerblue;
	background-color: rgba(0, 0, 0, .5);
}
.subtext > * {
	margin: .25em 0;
}
.subtext .eye {
	height: 24px;
	padding: 0 .125em;
}
.subtext span, .subtext p {
	font-size: 18px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 .25em;
}

.tag {
	height: 22px;
	line-height: 14px;
	font-size: 14px;
	border-radius: .25em;
}

.card .anchor{
	position: absolute;
}

#hash-wrapper {
	color: cornflowerblue;
}

.container.title:hover .show-on-hover {
	visibility: visible !important;
}